/build/*
/build/
/dist/
/dist/*
__pycache__/
*.pyc
/.vscode/
.nfs000000000a2808ac00002adc
*.log
docs/_source/thermal_history*.rst
docs/_source/API_index.rst
docs/_build/
tests/DB14.pik
tests/.ipynb_checkpoints/DB14_test-checkpoint.ipynb
thermal_history/core_models/leeds/routines/chemistry.py_AR
thermal_history/core_models/leeds/routines/chemistry.py_CD
thermal_history/core_models/leeds/routines/chemistry.py_AR
thermal_history/core_models/leeds/routines/chemistry.py_CD
